[submodule "pi-bailian-provider"]
	path = pi-bailian-provider
	url = https://github.com/CrazyTomatoOo/pi-bailian-provider.git
[submodule "pi-init"]
	path = pi-init
	url = https://github.com/CrazyTomatoOo/pi-init.git
[submodule "codegraph-ext"]
	path = codegraph-ext
	url = https://github.com/CrazyTomatoOo/codegraph-ext.git
